[Unit]
Description=Ejecuta el script de copia de seguridad
After=network.target
[Service]
ExecStart=/usr/local/bin/copia_seguretat.sh ${dirs}
EnvironmentFile=/etc/copia_seguretat.conf
User=root
Type=oneshot
StandardOutput=append:/var/log/copia_seguretat_std.log
StandardError=append:/var/log/copia_seguretat_err.log
[Install]
WantedBy=multi-user.target
