[Unit]
Description=Monotorizar logs
[Service]
ExecStart=/usr/local/bin/monitoritzar_logs.sh ${files}
EnvironmentFile=/etc/monitoritzar.conf
User=root
StandardOutput=append:/var/log/monitoritzar_logs_std.log
StandardError=append:/var/log/monitoritzar_logs_err.log
[Install]
WantedBy=multi-user.target
